<!DOCTYPE html>
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title About
    // Bootstrap
    link(rel='stylesheet', href='sacredia/assets/css/bootstrap.min.css', type='text/css')
    // OWL Carousel slider
    link(rel='stylesheet', href='sacredia/assets/css/owl.carousel.css', type='text/css')
    // Custome Style
    link(rel='stylesheet', href='sacredia/assets/css/style.css', type='text/css')
    // magnific Style
    link(rel='stylesheet', href='sacredia/assets/css/magnific-popup.css', type='text/css')
    // FontAwesome Font Style
    link(href='sacredia/assets/css/font-awesome.min.css', rel='stylesheet')
    // Flaticon 
    link(rel='stylesheet', href='sacredia/assets/css/font/flaticon.css', type='text/css')
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='sacredia/assets/images/favicon-icon/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='sacredia/assets/images/favicon-icon/apple-touch-icon-114-precomposed.html')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='sacredia/assets/images/favicon-icon/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='sacredia/assets/images/favicon-icon/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='sacredia/assets/images/favicon-icon/favicon.png')
    // Google-Font
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:400,600,700', rel='stylesheet')
    link(rel="stylesheet", href="sacredia/assets/css/testStyles.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  #preloader-wrap.preloader-wrap
    .lds-ripple
      div
      div
  body
    // Header
    header#header.nav-stacked.sa-header(data-spy='affix', data-offset-top='1')
      nav#navigation_bar.navbar.navbar-default.sa-navbar
        .container
          .navbar-header
            .logo
              a(href='/')
                img(src='sacredia/assets/images/logo.png', alt='image')
            // /Logo
            button#menu_slide.navbar-toggle.collapsed(data-target='#navigation', aria-expanded='false', data-toggle='collapse', type='button')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navigation.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.has-mega-menu.clearfix
                a(href='/about') About Us
                  span.nav_arrow
              li.has-mega-menu.clearfix
                a(href='#') Sermons
                  span.nav_arrow
              li.has-mega-menu.clearfix
                a(href='#') Events
                  span.nav_arrow
              li.has-mega-menu.clearfix
                a(href='#') Testimonies
                  span.nav_arrow
              li.has-mega-menu.clearfix
                a(href='#') Gallery
                  span.nav_arrow
              li.has-mega-menu.clearfix
                a(href='#') Contact Us
                  span.nav_arrow
      // Navigation end
      .overlay
      video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
        source(src='https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4', type='video/mp4')
      .container.h-100
        .d-flex.h-100.text-center.align-items-center
          .w-100.text-white
            h1.display-3 Video Header
            p.lead.mb-0 With HTML5 Video and Bootstrap 4
    section.my-5
      .container
        .row
          .col-md-8.mx-auto
            p
            p
              code background-color
              code .overlay
            p
            p.mb-0
              a(href='https://startbootstrap.com') Start Bootstrap
    // Footer
    footer#footer
      // Footer-Top
      .footer_top.secondary-bg
        .container
          .row
            .col-md-4.top_widget
              .footer_logo
                a(href='#')
                  img(src='sacredia/assets/images/logo.png', alt='image')
            .col-md-4.top_widget
              .newsletter
                form
                  .email_input
                    input(type='email', placeholder='Email address')
                  button(type='submit') Submit 
                    i.fa.fa-caret-right
            .col-md-4.top_widget
              .follow_us
                ul
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-youtube-play
                  li
                    a(href='#')
                      i.fa.fa-instagram
      // /Footer-Top
      // Footer-Widgets
      .container
        .row
          .col-md-4.footer_widget
            .widget_inner
              h5 Contact Us
              p 9000 Regency Parkway, Suite 400 Cary, NC 27518
              p E:
                a(href='mailto:info@slidesigma.com') info@slidesigma.com
              p P: +000 1456 6978 111
          .col-md-4.footer_widget
            .widget_inner
              .instagram_img
                ul
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/01.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/02.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/03.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/04.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/05.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/06.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/07.jpg', alt='image')
                  li
                    a(href='#')
                      img(src='sacredia/assets/images/feed/shop/08.jpg', alt='image')
                a.insta_url(href='#')
                  i.fa.fa-instagram
          .col-md-4.footer_widget
            .widget_inner
              h5 Useful Links
              .footer_nav
                ul
                  li
                    a(href='#') FAQs
                  li
                    a(href='#') Church Vision
                  li
                    a(href='#') Blog
                  li
                    a(href='#') Testimonies
                  li
                    a(href='#') Projects
                  li
                    a(href='#') Gallery
      // /Footer-Widgets
      // Footer-Bottom
      .footer_bottom
        .container
          .row
            .col-md-4
              p &copy; 2019 BushFire Revival Int. Min.
            .col-md-4
              #back-top.back-top
                a(href='#top')
                  i.fa.fa-angle-up(aria-hidden='true')
            .col-md-4
              .footer_links
                a(href='#') Home
                a(href='#') About Us
                a(href='#') Sermon
                a(href='#') Events
      // /Footer-Bottom
      // /Footer
      // Scripts
      script(src='sacredia/assets/js/jquery.min.js')
      script(src='sacredia/assets/js/bootstrap.min.js')
      script(src='sacredia/assets/js/jquery.magnific-popup.min.js')
      script(src='sacredia/assets/js/owl.carousel.min.js')
      script(src='sacredia/assets/js/audio_custome.js')
      script(src='sacredia/assets/js/jquery.countdown.min.js')
      script(src='sacredia/assets/js/isotope.js')
      script(src='sacredia/assets/js/masonry.pkgd.min.js')
      script(src='sacredia/assets/js/jquery.appear.js')
      script(src='sacredia/assets/js/jquery.countTo.js')
      script(src='sacredia/assets/js/circle-progress.js')
      script(src='sacredia/assets/js/imagesloaded.min.js')
      // Custome-JS
      script(src='sacredia/assets/js/interface.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js")
    
